@charset "utf-8n";

img{
	width: 100%;
	height: auto;
}

h1{
	color:blue;
	font-family:sans-serif;
}

table.sample {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

table.sample td{
	border: 1px solid black;
	padding: 1em;
	vertical-align: top;
}

.headpane  {background-color: #ffdddd;}
.leftpane  {background-color: #ccffcc; width: 27%;}
.rightpane {background-color: #ccffcc; width: 27%;}
.centerpane{background-color: #ffffcc;}
